@font-face {
    font-family: 'Theinhardt';
    src: url('assets/Theinhardt-Light.woff2') format('woff2'),
        url('assets/Theinhardt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('assets/Theinhardt-Regular.woff2') format('woff2'),
        url('assets/Theinhardt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('assets/Theinhardt-Medium.woff2') format('woff2'),
        url('assets/Theinhardt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('assets/Theinhardt-Bold.woff2') format('woff2'),
        url('assets/Theinhardt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Theinhardt';
    src: url('assets/Theinhardt-Black.woff2') format('woff2'),
        url('assets/Theinhardt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}



* {
    margin:0;padding:0;
    /*  folgende zeile ist nicht in 4k widget */
     box-sizing: border-box;
}

#fallback {
	position: absolute;
	top: 50px;
	left: 50px;
	color: #ffffff;
	font-size: 200pt;
	font-weight: 500;
}

/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Theinhardt';
  font-weight: 500;
  font-size: 40pt;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}


/* full-sized  container that fills up the page */
#myVideo {
  /*  folgende zeile ist nicht in 4k widget */
  /*
  height: 100vh;
  width: 100vw;
  */
  /* example padding, font-size, background, etc */
  /* padding: 0; */
  background-color: #000;
}

/* für 4k video */
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* -- end 4k video */

#translation {
	color: #ffffff;
	position: absolute;
	top: 20px;
	right: 40px;
}

#translation ul {
	display: inline-block;
	
}

#translation li {
	display: inline-block;
	font-weight: normal;
}

#translation li.active {
	font-weight: bold;
}

/* subtitle styling */
 video::cue {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Theinhardt';
	text-shadow: 4px 4px 5px #000000;
  }
  video::cue(b) {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Theinhardt';
	text-shadow: 4px 4px 5px #000000;
    
  }